.item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 20%;
  /* background-color: blue; */
}
.percentage {
  font-size: 20px;
  font-weight: bold;
}
.label {
  font-weight: bold;
}
