.transaction_history {
  background-color: #fff;
  box-shadow: 3px 3px 5px 2px rgba(76, 76, 77, 0.2);
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(116, 114, 114);
}
.transaction_history th,
.transaction_history td {
  padding: 20px;
}
.transaction_history td,
.transaction_history th {
  text-align: center;
  border: 3px solid rgb(116, 114, 114);
}
